body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}

div.container h2 {
    text-align: center;
    border-bottom: 1px solid #2d2d2d;
    padding-bottom: 10px;
}

div.container h3 {
    text-align: center;
    border-bottom: 1px solid #2d2d2d;
    padding-bottom: 10px;
}

div.jumbotron {
    background-color: #2d2d2d;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

img#logo {
    margin: 10px auto 20px;
    display: block;
    width: 75%;
    max-width: 500px;
}

nav.navbar-inverse {
    background-image: none;
    background-color: #343434;
    border-color: #343434;
}

footer {
    background-color: #343434;
}

footer p {
    text-align: center;
    color: #9d9d9d;
    padding: 1em;
    margin-bottom: 0;
}

div.brewery img {
    width: 100%;
}

div.container .row .col-md-3 {
    text-align: center;
}
